*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height:5800px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: capitalize;
   background-color: #fff9f3;
   

}

.header{
    height: 30px;
    width: 100%;
    background-color:rgba(255, 237, 229, 0.9);
    position:fixed;
    top: 0; 
    z-index: 2;
   
}

.H-I{
    font-size: 25px;
    padding-left: 20px;
}
.S-I{
    margin-left: 28px;
    position: absolute;
    margin-top: 5px;
    
}

.search{
    position: absolute;
    top: 3px;
    left: 70px;
    border-radius: 13px;
    height: 22px;
    border: none;
    
    
}
.list-head .A{
    text-decoration:none;
    color: rgba(205, 133, 63,0.6);
   position: relative;
  

} .A::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 0%;
    background-color:black ;
    left:0;
top: 95%;
transition: 2s;
}
.A:hover::before{
    width:100%;
   
    
}


.list-head{
    margin-top: -25px;
    margin-left: 65%;
    word-spacing: 5px;
    list-style: none;
    position: absolute;
}


.k{
    background-color: #000;
    height: 3px;
    width: 40px;
    margin: auto;
   
    }
.blog{
    position: relative;
}

.drop{
     background-color:white;
     border-radius:5px; 
    margin-left: 50px;
    width: 90px;
    height: 90px;
position: absolute;
visibility: hidden;
margin-top: 9px;
padding-top: 7px;
padding-left: 28px;
line-height: 25px;

}

.blog:hover .drop{
    visibility: visible;
}

.drop .A{
    color:peru;

   
}
.drop .kp{
    margin-left: -8px;
}


.list li{
    
    display: inline;
    text-transform: capitalize;
    
    padding-right: 25px;
    
}


.home{
    width: 100%;
    height: 110vh;
    background-image:url(./images/5295e428edecfc2527ce65952d9ceab2.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}
.overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
   background-color:rgba(0, 0, 0, 0.3);
}
.home-content{ 
    width: 60%;
    position: absolute;
    top: 50%;
left: 50%;
color: white;
transform: translate(-50% , -50%);
 text-align: center;
}
.home-content h2{
    text-transform: uppercase;
    font-size: 28px; 
    margin-top: 80px;
    letter-spacing: 2px;
}
.p-home{
    letter-spacing: 2px;
    padding: 20px;
    line-height: 22px;
    font-size: 14;
}
.home 
.home-btn{
width: 120px;
height: 30px;
cursor: pointer;
text-transform: capitalize;
font-size: 18px;
border-radius: 6px;
border: none;
background-color:rgba(255, 225, 215, 0.9);

margin-left: 20px;
}



.home-btn:hover{
    opacity: 0.5;
}
.container{
    width: 80%;
    margin: auto;
    height: 500px;
    margin-bottom: 80px;
   
    
}
.features{
    margin-top: 110px;
    margin-left: 5%;   
}
.features h3{
    text-align: center;
    margin-left: -5%;
}
.features i{
    display: block;
    font-size: 40px;
    padding-top: 8px;
    color: rgba(255, 225, 215, 0.9);
    padding-bottom: 8px;
}
.l{
position: relative;
}
.features a{
    text-decoration: none;
    
    color: rgba(255, 225, 215, 0.9);
    

   
}
.f:hover .l{
    z-index: 11;
}
.f p{
    font-size: 16;
   
    padding-bottom: 8px;
}

.f::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    background-color:#ffede6;
    opacity: 0;
    border-radius: 9px;
    z-index: 1;
}
.f:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.5;
    transition: 2s;
    
}

.f{position: relative;
    width: 160px;
    height: 125px;
    border-radius: 9px;
   border: 1px solid rgba(255, 225, 215, 0.9);;
    float: left;
    margin-left: 30px;
    margin-top: 150px;
    text-align: center;
    padding-top: 10px;
}



 
.productes{
    text-align: center;
    font-size: large;
    text-transform: capitalize;
    margin-left: 18%; 
 
}
.p-h3{
    margin-left:  -160px;

    padding-top: 20px;
   
}
.container-p{
    width: 100%;
    height: 600px;
background-color:  #ffede6
}
.pd{
    position: relative;
    
    
    
}


        
  .pd-icons{
    visibility: hidden;
    padding: 30px  60px;
font-size:26;
line-height: 2;
z-index: 1;
position: absolute;
text-align: center;
  }
  .pd:hover .pd-icons{
      visibility: visible;

  }
 
  .pd::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0; 
  background-color:#ffede6;
  top: 0;
  left: 0;
  
  }
    .pd:hover::after{
        width: 100%;
        height: 100%;
        opacity: 0.5; 
    
    }
    
    .pd-icons i{
        background-color:white;
    width: 50px;
height: 30px;
border-radius: 8px;
padding-top: 3px;}
.pd-icons p{
    font-size: 18;
}

.pd1{
  background-image: url(./images/88b5ecd24df8cc1bf8d578c72750cfc2.jpg);
  background-size:cover ;
  background-position: center;
    width: 260px;
    height: 220px;
    
    float: left;
    margin-left: 20px;
    margin-top: 40px;
}
.pd2{
    background-image: url(./images/554e71d85e3b6c1aa3867d14d789551f.jpg);
  background-size:cover ;
  background-position: center;
width: 260px;
height: 220px;

float: left;
margin-left: 20px;
margin-top: 40px;
}
 
 
    .pd3{ background-image: url(./images/93021555dc39d006915911450c82e813.jpg);
        background-size:cover ;
        background-position: center;
          width: 260px;
        height: 220px;
        
        float: left;
        margin-left: 20px;
        margin-top: 40px;}

        .pd4{ background-image: url(./images/f855fef3d33bcb824e2b97fa2b86239e.jpg);
            background-size:cover ;
            background-position: center;
             width: 260px;
            height: 220px;
            
            float: left;
            margin-left: 20px;
            margin-top: 30px;}
            .pd5{background-image: url(./images/dd0829c09c0ac0ca8c87883b07c49aa9.jpg);
                background-size:cover ;
                background-position: center;
                width: 260px;
                height: 220px;
               
                float: left;
                margin-left: 20px;
                margin-top: 30px;
            }
            .pd6{ background-image: url(./images/f2358117bcf57b21eb9fff6644260c06.jpg);
                background-size:cover ;
                background-position: center;
                 width: 260px;
                height: 220px;
              
                float: left;
                margin-left: 20px;
                margin-top: 30px;
            }


.services{
    
    width: 80%;
    margin-left: 8.5%;

    
   
}
.H3{
    text-align: center;
    padding-bottom: 40px;
    padding-top: 53px;
   

}

.S  p{
    font-size: 16;
    padding-top: 20px;
    line-height: 2;
    text-align: center;
}
.s6 p{
    font-size: 16;
    font-weight: 400;
    color: #000;
    padding-top: 20px;
 
}
.s6 i{
    margin-right: 6px;}

.S span{
    font-weight: 500;
    font-size: 19;
   margin-left: 20px;
   margin-top: 20px;position: relative;
  
    
}
.s:hover span{
    z-index: 11;
}

.S i{
    /* color: rgb(255, 237, 230); */
    font-size: 20;
    margin-right: 5px;
}
.S{
    position: relative;
    border: 0.4px solid rgba(255, 225, 215, 0.9);;
     width: 250px;
    height: 160px;
    float: left;
    margin-left: 30px;
    word-spacing: 3px;
    padding-top: 20px;
    /* text-align: center; */
    margin-bottom: 35px;

}


.S::after{
    content: "";
    position: absolute;
   
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    background-color:rgba(255, 225, 215, 0.9);
    
    opacity: 0;
}
.S:hover::after{
 width: 100%;
    height: 100%;
    opacity: 0.5;
   
    transition: 2s;}

    


.why  h2{
    padding-left: 50px;
    font-size: 25;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  
}
.intro {
    font-size: 16;
    font-weight: 500;
    padding-top: 50px;
}
.why span{
padding-left: 20px;
 } 
.why i{
    line-height: 2;
}
.why-content{float: left;
width: 70%;
margin-top: 80px;
padding-left: 40px;
line-height: 25px;
word-spacing:3px ;}
.why-img{
    float: left;
    width: 30%;
    margin-top: 100px;
    margin-bottom: 10px;
}
.mg{
    float: left;
    width: 250px;
    height: 300px;}
   
    .QQ{margin-left: 78%;}

.q-1{
        background-color: peru;
        width: 13px;
height: 13px;
border-radius: 50%;

margin: 0px 7px;
float: left
    }

.Q{width: 13px;
height: 13px;
border-radius: 50%;
background-color:  #ffede5;
margin: 0px 7px;
float: left;}
.q:hover{
    background-color: peru;
}


.bgm{
    background-image: url(./images/fa8a2bf5a046c3096fcc89e4335f353d.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
    margin-top: 200px;
}
.mbgm{
    width: 100%;
    height: 100%;

   
}
.b-icons{
    width: 60%;
   margin: 100px 20%;
float: left;
 
}
.b-i{
    
   float: left;
    padding-left: 10%;
    text-align: center;
    color: white;
    
   
}
.bgm i{
    font-size: 50px;
    color:  rgba(255, 225, 215, 0.9);;
 padding-bottom: 10px;

    
}
.overlay2{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color:rgba(0, 0, 0, 0.3);

}

.CC{
   
    text-align: center;
    margin: 60px  8%;
}


.pul{
    margin-left:28px;
    line-height: 25px;
word-spacing: 3px;
letter-spacing: 2px;
}

 .card{
    float: left;
    background-color:white;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    text-align: center;
border: rgba(255, 225, 215, 0.9) 0.4px solid;
    margin-left: 40px;
    margin-top: 80px;
    font-family: Arial, sans-serif;
    height: 400px;
  position: relative;
  line-height: 25px;
  
 
 }
.card::after{
    content: "";
    position: absolute;
    width:100%;
    height: 0%;
    opacity: 0; 
  background-color:rgba(255, 225, 215, 0.9);;
  top: 0;
  left: 0;
  z-index: 0;
  
}
    
 .card:hover::after{
    width:100%;
    height: 100%;
    opacity: 0.5;
    border-radius:10px ;
    transition: 2s;
  
 }
.card h3{
    margin-top: 20px;
}
 .C1{
    width: 250px;
    height: 400px;
    
    margin: -21px -21px;
    border-radius: 10px;
 }
 .CO{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: #ffede6 solid 0.5px;
    padding-top: 7px;
    margin: 25px 72px;
 }
 .co p{
    font-size: small;
 }

 .c2{
    width: 250px;
    height: 400px;
    margin: -21px -21px;
    border-radius: 10px;
} 
.C3{
    width: 250px;
    height: 400px;
    margin: -21px -21px;
    border-radius: 10px;
}


  .b2{
    width: 80px;
    height: 25px;
  position: relative;
  margin: auto;
  }
  .card:hover .b2{
    z-index: 11;
  }
.c-btn{
    margin-top: 30px;
    width:80px;
    height: 25px;
    border: rgba(255, 225, 215, 0.9) solid 0.5px;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    
}


.bgm2{
    background-image: url(./images/54553b0bd2070871a38d7847a501fd09.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px;
    
   
    
}
.overlay3{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.bgm2 span{
    margin-left: -300px;
margin-top: 225px;
float: left;
color: gray;

}

.nora{
    background-image: url(./images/d705687a66862e8e7b4cec0c747fb1af.jpg);
    background-size: cover;
    width:120px;
    height: 120px;
    border-radius: 50%;
   
    float: left;
    margin-left: 10%;
    margin-top: 60px;
   
    
    
}
.nora-info{
    float:left; 
    color: white;
    padding-left: 20px;
    padding-top: 60px;
    

}
.ahmed{ background-image: url(./images/d0cbd1380c72ddf3750c896433b2dea1.jpg); background-size: cover;
    width:120px;
    height: 120px;
    border-radius: 50%;
    float: left;
    margin-left: 15%;
    margin-top: 60px;
   
   
}
.ahmed-info{
    float:left;
    color: white;
    padding-top: 60px;
    padding-left: 20px;
}  

.t-h{
    text-align: center;
    padding-top: 60px;
} 
.team{
    margin-left: 9%;
}
  .teachers-team{
    width: 25%;
    margin-left:45px;
    margin-top: 80px;
    float:left;
    height: 300px;
    background-color:white;
    text-align: center;
    position: relative;
   

  }
  .teachers-team .t-1{
    margin-left: 20px;
  }
.T-img{
    
    width: 80%;
    height: 200px;
    margin:auto;
    position: relative;
    margin-top: 20px;
}    
 .T-img img{
    width: 100%;
    height: 100%;
 }
 .T-icons{
    position: absolute;
    background-color:rgba(255, 225, 215,0.7);
    
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;

 }
 .T-icons i{
    width: 30px;
    height: 30px;
    background-color: white;
    display: block;
    margin-left: auto;
    line-height: 35px;
    font-size: 18;
   
 }
 .teachers-team:hover .T-icons{
visibility: visible;
z-index: 111;
 }
    .teachers-team::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 0;
        top: 0;
        left: 0;
        background-color: rgba(255, 225, 215, 0.9);
        opacity: 0;
    }
    .teachers-team:hover::after{
        width: 100%;
        height: 100%;
        opacity: 0.5;
        transition: 2s;
    }
    .T-info p{
        padding-top: 8px;
        line-height: 2;
    letter-spacing: 2px;  }
.projects{
    margin-left: 8%;


    
    
}
.pj{
    position: relative;
    margin-top: 60px;
    width: 250px;
    height: 400px;
    border: 1px solid wheat;
  float: left;
  margin-left: 45px;
  

    
}
.pj::after{
      content: "";
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background-color: #ffede6;;
    opacity: 0;
  
 
}
.pj:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.5;
    transition: 2s;
  z-index: 1;
}
.pol{
    margin-left: 30px;
    font-size:16;
    line-height: 1;
}

.projects h2{
    text-align: center; 
    padding-top: 25px;
    
 
    
}
.pj h3{
    padding-left: 8px;
    padding-bottom: 7px;
}

.pj span{
    font-size: 13;
    font-weight: 100;
  padding-left: 30px;
   
}
.pJ p{
    font-size: 16;
    line-height: 24px;
    padding-left: 13px;
    padding-top: 5px;
   
  
}
.pj a{
    text-decoration: none;
    color:peru;
position: relative;
   
   
}
.R {
    text-align: center;

}
.pj:hover a{
z-index: 33;
}
.mpj1{
    width: 250px;
    height: 55%;
    
}


.spj ol{margin-left: 10px;
     }

   
.mpj2{
   width: 100%;
    height:55%;
}

.mpj3{
    width:100%;
    height: 55%;
  
}





.footer{
    background-color: #ffede6;
    width: 100%;
    height: 300px;
   
}
.fff{
    width: 200px;
    
}
.fimg img{
    width: 280px;
    height: 140px;
    margin-top: 25px;
    
   
}.fimg{
    margin-left:  40%;
}
.icons-f{
    margin-left:42%;
    margin-top: 25px;
}
.icons-f i{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color:white;
  padding-top: 7px;
    text-align: center;
    margin-left: 5px;
    color:peru;
    opacity: 0.8;
    font-size: 22;
}
.icons-f i:hover{
    opacity: 1;
   
}
.footer p{
    margin-left: 37%;
    color:peru;
    padding-top: 10px;
}